.container {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.pauseButton {
  background-color: var(--danger-color);
}

.pauseButton.paused {
  background-color: var(--success-color);
}

.refreshButton {
  background-color: var(--blue-color);
}

.refreshButton:hover {
  background-color: var(--hover-blue-color);
}

.addButton {
  background-color: var(--highlight-color);
}

.deleteButton {
  background-color: var(--danger-color);
}
